---

---

<main class="About">
    <h1>About</h1>
    <p>My name is John Smith.</p>
</main>

<style>
    .About {
        content: flex;
        padding: 10px;
        height: 410px;
        border: 1px solid greenyellow;
        border-radius: 10px;
        background-color: rgb(37, 0, 80);
        background-size: cover;
    }
</style>
