---

---

<main class="Welcome">
    <h1>Welcome</h1>
    <p>Enjoy your visit!</p>
</main>

<style>
    .Welcome {
        content: flex;
        padding: 10px;
        height: 300px;
        border: 1px solid greenyellow;
        border-radius: 10px;
        background-image: url("example.jpg");
        background-size: cover;
    }
    .Welcome:is(:hover) {
        border-color: rgb(255, 255, 255);
        background-color: #18181880;
    }
</style>
